In [1]:
# 경고(warning) 비표시
import warnings
warnings.filterwarnings('ignore')

# 1. 데이터 읽기

In [12]:
import pandas as pd

# `use_log.csv` 고객의 센터 이용 이력 (2019.4 ~ 2019.3)
uselog = pd.read_csv('use_log.csv')

print(len(uselog))
uselog.head()

197428

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [13]:
# `customer_master.csv` 회원 데이터 (2019.3월 말 기준이며, 탈퇴 회원 포함) 
customer = pd.read_csv('customer_master.csv')

print(len(customer))
customer.head()

4192

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0
2,OA974876,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0
3,HD024127,XXXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0
4,HD661448,XXXXX,C03,F,2015-05-01 00:00:00,NaN,CA1,0

In [14]:
# `class_master.csv` 회원 구분 (종일 / 주간 / 야간)
class_master = pd.read_csv('class_master.csv')

print(len(class_master))
class_master.head()

3

  class class_name  price
0   C01       0_종일  10500
1   C02       1_주간   7500
2   C03       2_야간   6000

In [15]:
# `campaign_master.csv` 가입시 행사 종류 
campaign_master = pd.read_csv('campaign_master.csv')

print(len(campaign_master))
campaign_master.head()

3

  campaign_id campaign_name
0         CA1          2_일반
1         CA2     0_입회비반액할인
2         CA3       1_입회비무료